div.courses-container
  div.course-wrapper(ng-repeat='course in $ctrl.courses')
    course-card(
      title='course.title'
      start='course.start'
      end='course.end'
      candidate-limit='course.candidate_limit'
      procent='course.procent'
      occupied='course.occupied'
    )
